/* styling the header */

header {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
        background-position: 20px 0;
        border-bottom: 1px solid #CCCCCC;
}

