/* styling places */

h1.places {
	position: relative;
	font-size: 30px;
	top: 0px;
	left: 0px;
}

section.places > article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px #FF5A5F;
	border-radius: 4px;

}

section.places > article > h2 {
	font-size: 30px;
	margin: 0px auto;
}
.price_by_night {
	color: #FF5A5F;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	border: 4px #FF5A5F;
	border-radius: 50%;

}
.information {
	height: 80px;
	border-top: 1px #DDDDDD;
	border-bottom: 1px #DDDDDD;
	margin: auto 0px;
}
.max_guest {
	width: 100px;
	background-image: url('images/icon_group.png');
}
.number_rooms {
	width: 100px;
	background-image: url('images/icon_bed.png');
}
.number_bathrooms {
	width: 100px;
	background-image: url('images/icon_bath.png');
}

.user {
	font-weight: bold;
}
